@each $color, $value in $theme-colors {
  .alert-#{$color} {
    color:            color-yiq($value);
    background-color: $value;
    border-color: 	  $value;
  }

  hr {
    border-top-color: darken($value, 5%);
  }

  .alert-link {
    color: color-yiq($value);
  }
}

.alert p:last-child {
  margin-bottom: 0;
}
