.opc-Video iframe {
  border: none;
}
.opc-Video .give-consent-preview {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10%;
  text-decoration: none;
  background-size: cover;
  background-position: center;
}
.opc-Video .give-consent-preview:not(:hover) {
  color: #fff;
}
.opc-Video .opc-Video-iframe-wrapper {
  position: relative;
  display: inline-block;
}
.opc-Video .video-transcript.focus {
  border: 3px solid #F8BF00;
}
.opc-Video .card-header .btn-link:focus,
.opc-Video .btn-link:focus {
  color: #F8BF00;
}
.opc-Video .opc-video-pause {
  appearance: none;
  background: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin: 7px;
}
.opc-Video .opc-video-pause:hover {
  color: rgba(0, 0, 0, 0.75);
}

.opc-Video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #5cbcf6;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  background-color: #fff;
  min-height: 64px !important;
}
.opc-Video > div {
  font-size: 14px;
}
.opc-Video i {
  font-size: 28px;
  margin-right: 6px;
  vertical-align: middle;
}

/*# sourceMappingURL=preview.css.map */
