.opc-Video {
  iframe {
    border: none;
  }
  .give-consent-preview {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10%;
    text-decoration: none;
    background-size: cover;
    background-position: center;

    &:not(:hover) {
      color: #fff;
    }
  }
  .opc-Video-iframe-wrapper {
    position: relative;
    display: inline-block;
  }
  .opc-video-pause {
    appearance: none;
    background: #ffffff91;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin: 7px;
    &:hover {
      color: rgba(0, 0, 0, 0.75);
    }
  }
}
