@import "../../base/bootstrap/scss/functions";
@import "../../base/bootstrap/scss/variables";
@import "../../base/bootstrap/scss/mixins";
// begin bootstrap components
// Info: removed in templates/NOVA/themes/base/bootstrap/scss/bootstrap.scss
// to address multiple imports
@import "../../base/bootstrap/scss/root";
@import "../../base/bootstrap/scss/reboot";
//@import "../../base/bootstrap/scss/type";
@import "../../base/bootstrap/scss/images";
@import "../../base/bootstrap/scss/code";
@import "../../base/bootstrap/scss/grid";
@import "../../base/bootstrap/scss/nav";
@import "../../base/bootstrap/scss/navbar";
// end bootstrap components
@import "../../base/sass/mixins";
@import "../../base/sass/components/pagination";
@import "../../base/sass/header";

// slick slider
@import '../../base/slick/slick.scss';

:root {
  --vh: 1vh;
}

.fa, .fas, .far, .fal {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 { @include font-size($h1-font-size); }
h2, .h2 { @include font-size($h2-font-size); }
h3, .h3 { @include font-size($h3-font-size); }
h4, .h4 { @include font-size($h4-font-size); }
h5, .h5 { @include font-size($h5-font-size); }
h6, .h6 { @include font-size($h6-font-size); }

.btn-skip-to{
  position: absolute;
  top: 0;
  transition: transform 200ms;
  transform: scale(0);
  margin: 1%;
  z-index: $zindex-tooltip;
  background: $white;
  border: 3px solid $primary;
  font-weight: $font-weight-base;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  padding: $btn-padding-y $btn-padding-x;
  border-radius: $btn-border-radius;
  font-weight: $font-weight-bolder;
  text-decoration: none;

  &:focus{
    transform: scale(1);
  }
}

.slick-slide a {
  @include hover-focus() {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

.slick-slide a:not([href]):not([class]) {
  @include hover-focus() {
    color: inherit;
    text-decoration: none;
  }
}

.banner {
  .img-fluid {
    width: 100%;
  }
}

.label-slide {
  .form-group:not(.exclude-from-label-slide):not(.checkbox) {
    label {
      display: none;
    }
  }
}

.modal {
  display: none;
}

.carousel-thumbnails .slick-arrow {
  /* to hide during load*/
  opacity: 0;
}

.slick-dots { flex: 0 0 100%; display: flex; justify-content: center; align-items: center; font-size: 0; line-height: 0; padding: 0; height: $spacer; width: 100%; margin: map-get($spacers, 5) 0 0;
  li {
    margin: 0 map-get($spacers, 1);
    list-style-type: none;
    button { width: $spacer * 3/4; height: $spacer * 3/4; padding: 0; border-radius: 50%; border: rem(2px) solid $gray-medium; background-color: $gray-medium; transition: $transition-base; }
    &.slick-active button { background-color: $gray-darker; border-color: $gray-darker; }
  }
}

.consent-modal:not(.active) {
  display: none;
}

.consent-banner-icon {
  width: 1em;
  height: 1em;
}

.mini>#consent-banner {
  display: none;
}

html {
  overflow-y: scroll;
}

.dropdown-menu {
  display: none;
}

.dropdown-toggle {
  &::after {
    content: '';
    margin-left: .5rem;
    display: inline-block;
  }
}

.list-unstyled, .list-icons {
  padding-left: 0;
  list-style: none;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  > .form-control {
    flex: 1 1 auto;
    width: 1%;
  }
}

#main-wrapper {
  background: $white;
}

.container-fluid-xl { max-width: rem(1650px); }

/* nav */
.nav-dividers {
  .nav-item { position: relative;
    &:not(:last-child)::after { content: ''; position: absolute; right: 0; top: $nav-link-padding-y; height: calc(100% - #{2 * $nav-link-padding-y}); border-right: rem(1px) solid currentColor; }
  }
}

.nav-link {
  text-decoration: none;
}

.nav-scrollbar { overflow: hidden; display: flex; align-items: center;
  .nav, .navbar-nav { flex-wrap: nowrap; }
  .nav-item { white-space: nowrap; }
}

.nav-scrollbar-inner { overflow-x: auto; padding-bottom: map-get($spacers, 4); /*margin-bottom: -(map-get($spacers, 4));*/ align-self: flex-start; }

#shop-nav {
  align-items: center;
  flex-shrink: 0;
  margin-left: auto;
  .nav-link {
    @include media-breakpoint-down(sm) {
      padding-left:	$nav-link-padding-sm-x;
      padding-right: $nav-link-padding-sm-x;
    }
  }
}

/* nav end */

/* bootstrap */
.has-left-sidebar {
  .breadcrumb-container {
    padding-left: 0;
    padding-right: 0;
  }
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  margin-bottom: $breadcrumb-margin-bottom;
  list-style: none;
  background-color: $breadcrumb-bg;
  @include border-radius($breadcrumb-border-radius);
}

.breadcrumb-item {
  display: none;
  @include media-breakpoint-up(md) { display: flex;}
  &.active { font-weight: $font-weight-bold; }
  &.first {
    padding-left: 0;
    &::before {display: none;}
  }
  + .breadcrumb-item {
    padding-left: $breadcrumb-item-padding;

    &::before {
      display: inline-block;
      padding-right: $breadcrumb-item-padding;
      color: $breadcrumb-divider-color;
      content: $breadcrumb-divider;
    }
  }

  &.active {
    color: $breadcrumb-active-color;
    font-weight: $font-weight-bold;
  }
  &.first { &::before {display: none;} }
}

.breadcrumb-arrow {
  display: flex;
  @include media-breakpoint-up(md) { display: none;}
  &:first-child::before {
    @include fas('f053');
    margin-right: 6px;
  }

  &:not(:first-child) {
    padding-left: 0;

    &::before {
      content: none;
    }
  }
}


.breadcrumb-wrapper {
  margin-bottom: map-get($spacers, 5);
  @include media-breakpoint-up(lg) { border-style: solid; border-color: $gray-medium; border-width: $border-width 0;}
}

.breadcrumb {
  @include font-size($font-size-base * (13 / $font-size-base));
  a { text-decoration: none; }
}

.breadcrumb-back { padding-right: map-get($spacers, 3); margin-right: map-get($spacers, 3); border-right: $border-width solid $gray-medium; }

/* end breadcrumb */


.hr-sect {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  align-items: center;
  color: $headings-color;
  margin: 8px 0;
  font-size: $h2-font-size;
  font-family: $headings-font-family;

  &::before{
    margin: 0 30px 0 0;
  }
  &::after {
    margin: 0 0 0 30px;
  }

  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    background: $hr-border-color;
    height: 1px;
    font-size: 0;
    line-height: 0;
  }

  a {
    text-decoration: none;
    border-bottom: $highlight-border-size solid transparent;
    font-weight: $font-weight-bold;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
    border-top: 1px solid $hr-border-color;
    border-bottom: 1px solid $hr-border-color;
    padding: 15px 0;
    margin: 15px 0;

    &::before,
    &::after{
      margin: 0;
      flex-grow: unset;
    }

    a {
      border-bottom: none;
      margin: auto;
    }
  }
}

/* product-slider */
.slick-slider-other {
  &.is-not-opc {
    margin-bottom: map-get($spacers, 5);
    .carousel {
      margin-bottom: map-get($spacers, 4);
    }
  }
  .slick-slider-other-container {
    padding-left: 0;
    padding-right: 0;
    @include media-breakpoint-up(md) {
      padding-left: map-get($spacers, 3);
      padding-right: map-get($spacers, 3);
    }
  }
  .hr-sect {
    margin-bottom: map-get($spacers, 5);
  }
}

#header-top-bar {
  position: relative;
  z-index: ($zindex-sticky + 1);
  flex-direction: row-reverse;
}

#header-top-bar, header {
  background-color: $header-bg-color;
  color: $header-color;
}

.img-aspect-ratio {
  width: 100%;
  height: auto;
}

header {
  box-shadow: 0 rem(16px) rem(9px) rem(-12px) transparentize($black, .94);
  position: relative;
  z-index: $zindex-sticky;
  .navbar {
    padding: 0;
    position: static;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 0;
    .navbar-brand {
      margin-right: map-get($spacers, 6);
    }
  }

  .navbar-brand {
    padding: $navbar-padding-y;
    outline-offset: -3px;
    img {
      height: $navbar-image-height;
      width: auto;
    }
  }

  .nav-right {
    .dropdown-menu {
      margin-top: rem(-.5px);
      @include box-shadow(inset 0 rem(16px) rem(9px) rem(-12px) transparentize($black, .94));
    }
  }
  @include media-breakpoint-up(lg) {
    .navbar-brand {
      padding-top: $navbar-padding-y-lg;
      padding-bottom: $navbar-padding-y-lg;
      img {
        height: $navbar-image-height-lg;
      }
    }

    .navbar-collapse { height: rem(69px); }

    .navbar-nav {
      > .nav-item {
        > .nav-link { position: relative; padding: map-get($spacers, 4);
          &::before { content: ''; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); border-width: 0 0 $nav-tabs-border-width * 6; border-color: $nav-tabs-link-active-border-color; border-style: solid; transition: width .4s; width: 0; }
          &:focus {outline-offset: -3px;}
        }

        &.active > .nav-link, &:hover > .nav-link, &.hover > .nav-link {
          &::before { width: 100%; }
        }

        .nav { flex-wrap: wrap; }
      }

      .nav {
        .nav-link { padding: 0;
          &::after { display: none; }
        }
      }

      .dropdown .nav-item { width: 100%; }
    }

    .nav-mobile-body { align-self: flex-start; width: 100%; }

    .nav-scrollbar-inner { width: 100%; }

    .nav-right {
      .nav-link { padding-top: map-get($spacers, 4); padding-bottom: map-get($spacers, 4); }
    }
  }
}
/* bootstrap */
.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);

  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  @include font-size($input-font-size);
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;

  @include border-radius($input-border-radius, 0);

  @include box-shadow($input-box-shadow);
  @include transition($input-transition);
}
.square {
  display: flex;
  position: relative;
  &::before {
    content: '';
    display: inline-block;
    padding-bottom: 100%;
  }
}

/* product details */
#product-offer .product-info ul.info-essential {
  margin: 2rem 0;
  padding-left: 0;
  list-style: none;
}
.price_wrapper {
  margin-bottom: map_get($spacers, 4);
  .price {
    display: inline-block;
  }
  .bulk-prices {
    margin-top: map_get($spacers, 3);
    .bulk-price {
      margin-right: map_get($spacers, 1);
    }
  }
}

#product-offer {
  .product-info {
    border: 0;
    .bordered-top-bottom {
      padding: ($grid-gutter-width / 2);
      border-top: 1px solid $gray-lighter;
      border-bottom: 1px solid $gray-lighter;
    }
    ul.info-essential {
      margin: map_get($spacers, 5) 0;
    }
    .shortdesc {
      margin-bottom: map_get($spacers, 3);
    }
    .product-offer {
      margin-bottom: map_get($spacers, 5);
      > .row {
        margin-bottom: map_get($spacers, 4);
      }
    }
    .stock-information {
      border-top: $border-width solid $border-color;
      border-bottom: $border-width solid $border-color;
      align-items: flex-end;
      &.stock-information-p {
        padding-top: map_get($spacers, 3);
        padding-bottom: map_get($spacers, 3);
      }
      @include media-breakpoint-down(sm) {
        margin-top: map_get($spacers, 3);
      }
    }
    .question-on-item {
      margin-left: auto;
      .question {
        padding: 0;
      }
    }
  }
}
.product-detail .product-actions {
  position: absolute;
  z-index: 1;
  right: $grid-gutter-width / 2 + $spacer;
  top: $spacer;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    margin: 0 map-get($spacers, 1);
  }
}
#image_wrapper {
  margin-bottom: map_get($spacers, 6);
  #gallery {
      margin-bottom: map-get($spacers, 5);
  }
  .product-detail-image-topbar {
    display: none;
  }
}

.product-detail .product-thumbnails-wrapper .product-thumbnails {
  display: none;
}

/* productdetails end */

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.collapse:not(.show) {
  display: none;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
}
.d-inline-block{
  display: inline-block !important;
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
}
@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-inline-block {
    display: inline-block !important;;
  }
}

/* bootstrap end */


@media (min-width: 992px){
  .justify-content-lg-end {
    justify-content: flex-end !important;
  }
}
.list-gallery {
  display: flex;
  flex-direction: column;
  .second-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  img.second {
    opacity: 0;
  }
}
.form-group {
  margin-bottom: 1rem;
}
.btn-outline-secondary {
  color: $secondary;
  border-color: $secondary;
}
.btn-group {
  display: inline-flex;
}
.productlist-filter-headline {
  padding-bottom: map-get($spacers, 2);
  margin-bottom: map-get($spacers, 3);
  @extend .h3;
}
hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}
.badge-circle-1 {
  background-color: $white;
}
#content {
  padding-bottom: map-get($spacers, 6);
}
#content-wrapper {
  margin-top: 0;
  &.has-fluid {
    padding-top: map-get($spacers, 3);
  }
  &:not(.has-fluid) {
    padding-top: map-get($spacers, 5);
    @include media-breakpoint-up(lg) {
      padding-top: map-get($spacers, 7);
    }
  }
}

.account-data-item h2{
  margin-bottom: 0;
}

//boxes
aside {
  h4 {
    margin-bottom: map_get($spacers, 3);
  }

  .card {
    border: none;
    box-shadow: none;
    background-color: transparent;

    .card-title {
      margin-bottom: map_get($spacers, 2);
      font-size: $h2-font-size;
      font-weight: $font-weight-semibold;
    }
    &.card-default {
      .card-heading {
        border-bottom: none;
        padding-left: 0;
        padding-right: 0;
      }

      > .card-heading > .card-title {
        color: $body-color;
        font-weight: $font-weight-semibold;
        border-bottom: 1px solid $sand;
        padding: 10px 0;
      }
    }


    > .card-body {
      padding: 0;
      .card-title{
        font-weight: $font-weight-semibold;
      }
    }
  }

  .nav-panel {
    .nav {
      flex-wrap: initial;
    }
    > .nav > .active > .nav-link {
      border-bottom: $highlight-border-size solid $primary;
      cursor: pointer;
    }
    .active > .nav-link {
      font-weight: $font-weight-bold;
    }
    .nav-link[aria-expanded=true] i.fa-chevron-down {
      transform: rotate(180deg);
    }
    .nav-link, .nav-item {
      clear: left;
    }
  }

  .box {
    .nav-link,
    .nav a ,
    .dropdown-menu .dropdown-item {
      text-decoration: none;
      white-space: normal;
    }
    .nav-link {
      padding-left: 0;
      padding-right: 0;
    }
    .snippets-categories-nav-link-child {
      padding-left: map-get($spacers, 2);
      padding-right: map-get($spacers, 2);
    }
  }

  .box-monthlynews a .value {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.box-categories .dropdown,
.box-linkgroup .dropdown {
  .collapse {
    background: $gray-lighter;
  }
}
.box-categories {
  .nav-link {
    cursor: pointer;
  }
}
// boxes
.box_login {
  .register {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    .fa {
      color: $primary;
    }
  }
  .resetpw {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

//searchcloud
$jqcloud-classes: 7;
@for $i from 0 through $jqcloud-classes {
  .jqcloud-word.w#{$i} {
    color: theme-color-level(primary, ($i - 5));
    font-size: 100% + $searchcloud-font-size-scaling*($i - 1);
  }
}

.jqcloud {
  line-height: normal;
  overflow: hidden;
  position: relative;
}

.jqcloud-word a {
  color: inherit !important;
  font-size: inherit !important;
  text-decoration: none !important;
  &:hover {
    color: $link-hover-color !important;
  }
}

.searchcloud {
  width: 100%;
  height: 200px;
}
#footer-boxes .card {
  background: transparent;
  border: 0;
  a {
    text-decoration: none;
  }
}
.box-normal {
  @include media-breakpoint-up(md) {
    margin-bottom: map-get($spacers, 4);
  }
  .box-normal-link {
    text-decoration: none;
    font-weight: $font-weight-bold;
    margin-bottom: map-get($spacers, 2);
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
.sidepanel-left {
  .box-normal {
    .box-normal-link {
      @extend .h3;
    }
  }
}
.box-filter-hr {
  margin-top: map-get($spacers, 2);
  margin-bottom: map-get($spacers, 2);
}
.box-normal-hr {
  margin-top: map-get($spacers, 3);
  margin-bottom: map-get($spacers, 3);
  display: flex;
  @include media-breakpoint-up(md) {
    display: none;
  }
}
.box-last-seen {
  .box-last-seen-item {
    margin-bottom: map-get($spacers, 3);
  }
}
.box-nav-item {
  margin-top: map-get($spacers, 2);
  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
}
.box-login {
  .box-login-resetpw {
    margin-bottom: map-get($spacers, 2);
    padding-left: 0;
    padding-right: 0;
    display: block;
  }
}
.box-slider {
  margin-bottom: map-get($spacers, 4);
}
.box-link-wrapper {
  align-items: center;
  display: flex;
  i.snippets-filter-item-icon-right {
    color: $text-muted;
  }
  .badge {
    margin-left: auto;
  }
}

.box-delete-button {
  text-align: right;
  white-space: nowrap;
  .remove {
    float: right;
  }
}
.box-filter-price {
  .box-filter-price-collapse {
    padding-bottom: map-get($spacers, 4);
  }
}
.hr-no-top {
  margin-top: 0;
  margin-bottom: map-get($spacers, 3);
}
.characteristic-collapse-btn-inner {
  img {
    margin-right: map-get($spacers, 1);
  }
}
// boxes end

#search {
  margin-right: map-get($spacers, 3);
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}
.link-content {
  margin-bottom: map-get($spacers, 3);
}
#footer {
  margin-top: auto;
  padding: map-get($spacers, 7) 0 0;
  background-color: $footer-bg-color;
  color: $footer-color;
}
#copyright {
  background-color: $copyright-bg-color;
  color: $gray-lighter;
  margin-top: map-get($spacers, 3);
  > div {
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
    font-size: $font-size-sm;
    text-align: center;
  }
}

/* header logo position - start */
.toggler-logo-wrapper {
  float: left;
  @include media-breakpoint-down(md) {
    position: absolute;
    .logo-wrapper {
      float: left;
    }
    .burger-menu-wrapper {
      float: left;
      padding-top: 1rem;
    }
  }
}
/* header logo position - end */
.navbar .container {
  display: block;
}
.lazyload {
  opacity: 0 !important;
}

.btn-pause{
  &:focus, &:focus-within {
    outline: 3px solid $primary !important;
  }
}